@import "./animations";

.bar {
    height: 4px;
    width: 33px;
    margin: 1px;
    background-color: black;
    border-radius: 4px;
    margin: auto;
}
#blur{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    animation: blur 200ms 1;
    animation-fill-mode: forwards;
    
  @media only screen and (min-width: $mobile-view) {
    display: none;
  }
}