body {
  margin: 0;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  padding: 10px;
  margin: 0px;
  background-color: royalblue;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  height: 40px;
  width: 40px;
  float: left;
}

header .logo img {
  height: auto;
  width: 100%;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .link {
  width: 100%;
  text-align: center;
}

header .link a {
  text-decoration: none;
  text-decoration: none;
  display: block;
  height: auto;
  margin: auto;
}

header a {
  color: #f0f0f0;
  font-size: 125%;
  line-height: 40px;
  margin: 0px 20px;
}

.hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 800px) {
  .hidden {
    display: none;
  }
}

header > div#menu-icon {
  background-color: rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 0.3em;
}

@media only screen and (min-width: 800px) {
  header > div#menu-icon {
    display: none;
  }
}

header > div#menu-icon .ab1 {
  position: absolute;
  top: 12px;
  -webkit-animation: cross1 500ms 1;
          animation: cross1 500ms 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header > div#menu-icon .ab2 {
  position: absolute;
  top: 23px;
  -webkit-animation: cross2 500ms 1;
          animation: cross2 500ms 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header > div#menu-icon .ab3 {
  position: absolute;
  top: 34px;
}

@media only screen and (max-width: 800px) {
  header #dropdown {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    background-color: dodgerblue;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid darkblue;
    border-right: 0px;
    top: 60px;
    right: -210px;
    width: 200px;
    -webkit-animation: menuSlide 500ms 1;
            animation: menuSlide 500ms 1;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  header #dropdown :hover {
    background-color: #50a4f8;
  }
  header #dropdown:not(.hidden) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@-webkit-keyframes cross1 {
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 19px;
  }
}

@keyframes cross1 {
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 19px;
  }
}

@-webkit-keyframes cross2 {
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 19px;
  }
}

@keyframes cross2 {
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 19px;
  }
}

@-webkit-keyframes menuSlide {
  0% {
    right: -210px;
  }
  100% {
    right: 0px;
  }
}

@keyframes menuSlide {
  0% {
    right: -210px;
  }
  100% {
    right: 0px;
  }
}

@media only screen and (max-width: 800px) {
  .menu {
    background-color: lightblue;
    height: 40px;
    width: 40px;
  }
  #icon {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 40px;
    width: 40px;
    background-color: lightblue;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    float: right;
    padding: 3px 0px;
  }
  .bar {
    height: 4px;
    width: 33px;
    margin: 1px;
    background-color: black;
    border-radius: 4px;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */